name: Deploy
on:
 pull_request:
   branches: [main]
 push:
   branches: [main]

permissions:
 id-token: write
 contents: read

jobs:
 pull_request:
   runs-on: ubuntu-latest

   env:
     AWS_DEFAULT_REGION: us-east-1

   steps:
   - name: configureawscredentials
     uses: aws-actions/configure-aws-credentials@v1
     with:
       role-to-assume: arn:aws:iam::${{ secrets.aws_acct_num }}:role/${{ secrets.aws_role_name }}
       role-session-name: deploy-${{ env.GITHUB_SHA }}
       aws-region: ${{env.AWS_DEFAULT_REGION}}

   - name: Checkout
     uses: actions/checkout@v2

   - name: Some AWS commands
     run: |
       aws sts get-caller-identity

   - name: Deploy CloudFormation
     id: gd-alerts
     uses: aws-actions/aws-cloudformation-github-deploy@master
     with:
       name: gd-alerts
       template: Cloudformation/gd-alerts.yaml
       no-fail-on-empty-changeset: "1"
